--index-url https://pypi.org/simple
--extra-index-url https://download.pytorch.org/whl/cpu

# Gunakan library versi basic tanpa tambahan bloatware
numpy==1.26.4
pandas==2.2.2
scikit-learn==1.4.2
xgboost==2.0.3
firebase-admin==6.5.0
flask==3.0.3
flask-cors==4.0.1